<strong>Recuperação de Senha</strong>

<p>Conforme solicitado, seguem os passos para recuperar a senha do e-mail ({{email}}). Caso não tenha sido você quem enviou esta solicitação, verifique a segurança de sua conta!</p>

<p>Para continuar, utilize o token {{token}} ou clique no link abaixo:</p>

<a href="{{link}}">Redefinir a Senha!</a>
